@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: hsl(0, 0%, 9%);
    --primary-color: hsl(0, 0%, 80%);

    --secondary-background: hsl(0, 0%, 90%);
    --secondary-color: hsl(0, 0%, 9%);
    --secondary-hsl: hsla(0, 0%, 100%, 0.3); 
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-background);
    padding: 3rem 0;
    color: var(--primary-color);
}

.container {
    max-width: 1028px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe__card {
    width: clamp(300px, 92vw, 400px);
    border-radius: 1rem;
    box-shadow: 0 0 .5rem var(--secondary-hsl);
    overflow: hidden;
    padding: 1rem 0;
}

.recipe__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(182, 177, 177);
    padding: 0 1rem 1.2rem 1rem;
}

.recipe__theme-toggle {
    font-size: 1.4rem;
    box-shadow: 0 0 .3rem var(--secondary-hsl);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 3rem;
    color: var(--secondary-background);
    cursor: pointer;
    transition: .3s ease-in-out background-color,
                .3s ease-in-out color;
}

.recipe__theme-toggle:active {
    transform: scale(.8);
}

.recipe__theme-toggle:hover, .recipe__search-icon:hover {
    background-color: var(--secondary-background);
    color: var(--primary-background);
}

.recipe__search {
    position: relative;
    width: 200px;
    height: 2.5rem;
}

.recipe__search-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 18%;
    height: 100%;
    font-size: 1rem;
    padding: 0;
    border-radius: 3rem;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    box-shadow: 0 0 .3rem var(--secondary-background);
    transition: .3s ease-in-out width,
                .3s ease-in-out padding;
}

.recipe__search-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-background);
    box-shadow: 0 0 .3rem var(--secondary-hsl);
    height: 40px;
    padding: .5rem;
    border-radius: 3rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
    transition: .3s ease-in-out background-color,
                .3s ease-in-out color;

}

.recipe__search:hover input,
.recipe__search input:focus {
    width: 100%;
    padding: 0 4rem 0 1rem;
}

.recipe__search-icon:active {
    transform: scale(.8) translateY(-50%);
}

.recipe__favorite {
    text-align: center;
    color: var(--primary-color);
    margin-top: .8rem;
}

.recipe__title {
    font-size: 1.2rem;
    font-weight: 500;
}

.recipe__favorite-meal {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 1.5rem;
    padding: .8rem;
    overflow-x: scroll;
    width: auto;
}

.favorite__card {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--secondary-hsl);
    cursor: pointer;
    transition: .3s ease-in-out background-color;
}

.favorite__top {
    margin: 0 auto;
    width: 100%;
    border-radius: .3rem;
    transition: .2s ease-in-out background-color,
                .2s ease-in-out background-color;
}

.favorite__img {
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4rem;
    margin-top: .5rem;
    overflow: hidden;
}

.favorite__title {
    margin: 0.5rem auto;
    width: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: .8rem;
    text-shadow: 0 0 .3rem var(--secondary-hsl);
    padding: 0 .5rem;
    user-select: none;
    transition: .2s ease-in-out color;
}

.favorite__delete {
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--primary-background);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem; 
}

.favorite__top:hover {
    color: var(--primary-background);
    background-color: var(--secondary-background);
}

.favorite__top:hover .favorite__title{
    text-shadow: 0 0 .2rem var(--primary-background);
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-hsl);
    border-radius: 100vw;
}

.meal {
    margin-top: 1.2rem;
}

.meal__section-title {
    font-weight: 500;
    font-size: 1.6rem;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.meal__container {
    display: grid;
    gap: 1.5rem;
}

.meal__card {
    box-shadow: 0 0 .4rem var(--secondary-hsl);
    border-radius: 1rem;
    width: clamp(300px, 80vw, 400px);
    overflow: hidden;
    transition: .2s ease-in-out background-color;
}

.meal__img{
    width: 100%;
    height: 230px;
    cursor: pointer;
}

.meal__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meal__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    font-size: 1.1rem;
    text-shadow: 0 0 .3rem var(--primary-background);
    transition: .2s ease-in-out color,
                .2s ease-in-out text-shadow;
}

.meal__details i {
    color: hsl(0, 100%, 40%);
    cursor: pointer;
}

.meal__card:hover {
    background-color: var(--primary-color);
}

.meal__card:hover .meal__details {
    color: var(--primary-background);
    text-shadow: 0 0 .2rem var(--primary-background);
}